@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --miguelr-dashboard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

.card{
  text-align: center;
  font-size: 16px;
  border: 12px solid transparent;
  border-color: #28d;
  margin-right: auto;
  margin-left: auto;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
