<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="miguelr-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="miguelr-dashboard">
  <script src="miguelr-dashboard.js"></script>
</dom-module>